@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var info = new SimplisityInfo();
    var propertyData = (PropertyLimpet)Model.List.First();
    if (propertyData.Info != null)
    {
        info = propertyData.Info;
    }
}

<div class="w3-row w3-padding w3-pale-red">
    <span class="material-icons">
        warning
    </span>
    <span>@ResourceKey("RC.duplicateref")</span>
</div>
